@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-container">
    <img class="hero-background" src="~/images/hero-background.png" alt="placeholder" asp-append-version="true">
    <div class="hero-information">
        <p class="hero-title">Welcome to FraudSquad</p>
        <p class="hero-subtitle">Preventing scams one step at a time.</p>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Report">File a report?</a></button>
    </div>
</div>
